  .hero-banner {
    background-color: rgb(255, 255, 255);
  }
  
  .hero-banner h1 {
    color: #39729E;
    font-size: 3.5rem;
    text-align: center;
    text-shadow: 1px 1px 0 #000000,-1px 1px 0 #000000, 1px -1px 0 #000000, -1px -1px 0 #000000; 
  }

  .container{
    display: flex;
  }

  .imageE{
    margin-left: -5%;
    width: 300%;
    justify-content: left;
  }

  .enerhabitat{ 
    margin: auto;
    padding: 1rem;
    text-align: justify
  }

  .container2{
    display: flex;
    padding: 1%;
  }

  .imageP{
    width: 200%;
    justify-content: right;
  }

  .enerShi{
    margin: auto;
    text-align: justify;
    padding: 1rem;
  }

  .hero-buttons{
    text-align: center;
    margin: auto;
  }